<!DOCTYPE html>
<html>
  <head>
    <title>AsanaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo_horizontal_white.png') %>";
      window.searchIcon = "<%= image_url('search_icon.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
