<!DOCTYPE html>
<html>
  <head>
    <title>AsanaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.logo = "<%= image_url('logo_horizontal_white.png') %>";
      window.coloredLogo = "<%= image_url('logo_horizontal_color.svg') %>";
      window.searchIcon = "<%= image_url('search_icon.png') %>";
      window.listIcon = "<%= image_url('list-32px.svg') %>";
      window.smallXIcon = "<%= image_url('small_x_icon.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
